.header-logo {
    bottom: auto;
    top: 0;
    height: 100%;

    a {
        display: block;
        height: 100%;
        padding-top: 6px;
        padding-bottom: 8px;
        box-sizing: border-box;

        img {
            height: 100%;
        }
    }
}
