.widget__live-score {
    background: #60c8df url('../images/live_score.jpg');
    background-size: cover;
    aspect-ratio: 7/9;
    position: relative;
    display: none;

    &.loaded {
        display: block;
    }

    h5 {
        position: absolute;
        top: 10px;
        right: 50px;
        color: #fff;
        font-size: 18px;
    }

    .widget__live-score__teams {
        padding-top: 14%;
        display: grid;
        gap: 35px;
        grid-template-columns: 1fr 1fr;
        margin: 0 0 15px 0;

        .widget__live-score__team {
            background: #fff;
            color: #000;
            font-size: 18px;
            text-transform: uppercase;
            padding: 15px;
            text-align: center;
        }

        .widget__live-score__team-logo {
            margin-bottom: 10px;

            img {
                max-width: 60px;
                max-height: 60px;
            }
        }
    }

    .widget__live-score__total {
        display: grid;
        gap: 35px;
        grid-template-columns: 1fr 1fr;
        margin: 0 30px 10px 30px;

        span {
            text-align: center;
            display: block;
            background: #c4007a;
            color: #fff;
            padding: 12px 10px;
            font-size: 26px;
            font-weight: bold;
        }
    }

    .widget__live-score__quarters {
        .widget__live-score__quarter {
            display: grid;
            gap: 0;
            grid-template-columns: 1fr 35px 1fr;
            margin: 0 30px 10px 30px;

            span {
                color: #005daa;
                background: rgba(255,255,255,.7);
                text-align: center;
                font-size: 17px;
                padding: 8px;
            }

            i {
                padding-top: 9px;
                text-align: center;
                color: #005daa;
                font-size: 17px;
                font-style: normal;
            }
        }
    }
}

.site-content .content .widget__live-score {
    aspect-ratio: 4/3;
}

.site-content .content .widget__live-score.mobile {
    aspect-ratio: 7/9;
}
