.game-result__score-result--winner::before {
    display: none;
}

.posts--carousel-featured {
    display: none;
}

@media (min-width: 1280px) {
    .posts--carousel-featured {
        display: block;
    }

    .posts--cards-thumb-left .posts__thumb {
        max-width: 20%;
    }
}

.featured-carousel .slick-slide.slick-current::before {
    opacity: 0.2;
}

.featured-carousel .slick-slide::before {
    opacity: 0.5;
}

.card__header--has-btn .btn {
    margin-left: 15px;
}

.posts--simple-list .posts__title {
    line-height: 150% !important;
}

.posts--simple-list .posts__item {
    h6 {
        line-height: 150%;
    }
}


.posts--carousel .posts__link-wrapper::before {
    display: none;
}

.posts--carousel .posts__item-play {
    content: "\F04B";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    background-color: rgba(23, 29, 33, 0.6);
    border-radius: 50%;
    border: 4px solid #ffdc11;
    z-index: 1;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
    text-indent: 3px;
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    pointer-events: none;
}

.posts--carousel .posts__thumb img {
    opacity: .8;
}

table td a, table th a {
    color: #222;

    &:hover {
        color: #111;
        text-decoration: underline;
    }
}

.team-roster__player-img {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
