@media (min-width: 992px) {
    .game-result__team-logo {
        max-width: 88px !important;

        img {
            width: 100%;
        }
    }

    .match-preview__team-logo {
        max-width: 88px !important;

        img {
            width: 100%;
        }
    }
}
