.team-meta__logo {
    height: 35px;
}

.team-list {
    .team-list__holder {
        display: block;
        background: #222;
        text-align: center;
        height: 250px;
        margin-bottom: 20px;
        transition: all .25s ease-in;

        h2 {
            font-size: 14px;
            color: #eee;
        }

        .team-list__img {
            margin: 0 auto;
            text-align: center;
            padding-top: 50px;
            margin-bottom: 10px;

            img {
                width: auto;
                max-width: 100px;
            }
        }

        &:hover {
            background: #555;
        }
    }
}
