<template>
    <div class="zmsc-score__total">
        <div class="zmsc-score__team">
            <h3>{{ match.homeTeam.title }}</h3>
            <!-- <a href="#" class="zmsc-btn">-</a> -->
            <input type="number" v-model="match.homeScore" readonly>
            <!-- <a href="#" class="zmsc-btn">+</a> -->
        </div>
        <div class="zmsc-score__team">
            <h3>{{ match.awayTeam.title }}</h3>
            <!-- <a href="#" class="zmsc-btn">-</a> -->
            <input type="number"  v-model="match.awayScore" readonly>
            <!-- <a href="#" class="zmsc-btn">+</a> -->
        </div>
    </div>
</template>

<script>
export default {
    props: {
        match: { type: Object, required: true },
    }
}
</script>
