<template>
    <div class="zmsc-score__players-player">
        <h5>{{ player.name }}</h5>
        <div class="zmsc-score__players-player-stats">
            <div class="zmsc-score__players-player-stat">
                <div class="zmsc-score__players-player-stat-name">PTS</div>
                <div class="zmsc-score__players-player-stat-values">
                    <a href="#" class="zmsc-btn">-</a>
                    <input type="number" v-model="player.points">
                    <a href="#" class="zmsc-btn">+</a>
                </div>
            </div>
            <div class="zmsc-score__players-player-stat">
                <div class="zmsc-score__players-player-stat-name">AST</div>
                <div class="zmsc-score__players-player-stat-values">
                    <a href="#" class="zmsc-btn">-</a>
                    <input type="number" v-model="player.assists">
                    <a href="#" class="zmsc-btn">+</a>
                </div>
            </div>
            <div class="zmsc-score__players-player-stat">
                <div class="zmsc-score__players-player-stat-name">REB</div>
                <div class="zmsc-score__players-player-stat-values">
                    <a href="#" class="zmsc-btn">-</a>
                    <input type="number" v-model="player.rebounds">
                    <a href="#" class="zmsc-btn">+</a>
                </div>
            </div>
            <div class="zmsc-score__players-player-stat">
                <div class="zmsc-score__players-player-stat-name">BLK</div>
                <div class="zmsc-score__players-player-stat-values">
                    <a href="#" class="zmsc-btn">-</a>
                    <input type="number" v-model="player.blocks">
                    <a href="#" class="zmsc-btn">+</a>
                </div>
            </div>
            <div class="zmsc-score__players-player-stat">
                <div class="zmsc-score__players-player-stat-name">TO</div>
                <div class="zmsc-score__players-player-stat-values">
                    <a href="#" class="zmsc-btn">-</a>
                    <input type="number" v-model="player.turnovers">
                    <a href="#" class="zmsc-btn">+</a>
                </div>
            </div>
            <div class="zmsc-score__players-player-stat">
                <div class="zmsc-score__players-player-stat-name">3PT</div>
                <div class="zmsc-score__players-player-stat-values">
                    <a href="#" class="zmsc-btn">-</a>
                    <input type="number" v-model="player.threePointers">
                    <a href="#" class="zmsc-btn">+</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        player: { type: Object, required: true },
    }
}
</script>
