<template>
    <div class="zmsc-score__quarters">
        <div class="zmsc-score__quarters-single" :class="{ 'active': this.activeQuarter === 'q1' }">
            <h3>Q1</h3>
            <div class="zmsc-score__quarters-teams">
                <div>
                    <button class="zmsc-btn" @click.prevent="decrementQuarter('home', 'q1')">-</button>
                    <input type="number" v-model="match.quarterScores.home_q1" readonly>
                    <button class="zmsc-btn" @click.prevent="incrementQuarter('home', 'q1')">+</button>
                </div>

                <div>
                    <button class="zmsc-btn" @click.prevent="decrementQuarter('away', 'q1')">-</button>
                    <input type="number" v-model="match.quarterScores.away_q1" readonly>
                    <button class="zmsc-btn" @click.prevent="incrementQuarter('away', 'q1')">+</button>
                </div>
            </div>
        </div>
        <div class="zmsc-score__quarters-single" :class="{ 'active': this.activeQuarter === 'q2' }">
            <h3 class="active">Q2</h3>
            <div class="zmsc-score__quarters-teams">
                <div>
                    <button class="zmsc-btn" @click.prevent="decrementQuarter('home', 'q2')">-</button>
                    <input type="number" v-model="match.quarterScores.home_q2" readonly>
                    <button class="zmsc-btn" @click.prevent="incrementQuarter('home', 'q2')">+</button>
                </div>

                <div>
                    <button class="zmsc-btn" @click.prevent="decrementQuarter('away', 'q2')">-</button>
                    <input type="number" v-model="match.quarterScores.away_q2" readonly>
                    <button class="zmsc-btn" @click.prevent="incrementQuarter('away', 'q2')">+</button>
                </div>
            </div>
        </div>
        <div class="zmsc-score__quarters-single" :class="{ 'active': this.activeQuarter === 'q3' }">
            <h3 class="active">Q3</h3>
            <div class="zmsc-score__quarters-teams">
                <div>
                    <button class="zmsc-btn" @click.prevent="incrementQuarter('home', 'q3')">+</button>
                    <input type="number" v-model="match.quarterScores.home_q3" readonly>
                    <button class="zmsc-btn" @click.prevent="decrementQuarter('home', 'q3')">-</button>
                </div>

                <div>
                    <button class="zmsc-btn" @click.prevent="incrementQuarter('away', 'q3')">+</button>
                    <input type="number" v-model="match.quarterScores.away_q3" readonly>
                    <button class="zmsc-btn" @click.prevent="decrementQuarter('away', 'q3')">-</button>
                </div>
            </div>
        </div>
        <div class="zmsc-score__quarters-single" :class="{ 'active': this.activeQuarter === 'q4' }">
            <h3 class="active">Q4</h3>
            <div class="zmsc-score__quarters-teams">
                <div>
                    <button class="zmsc-btn" @click.prevent="incrementQuarter('home', 'q4')">+</button>
                    <input type="number" v-model="match.quarterScores.home_q4" readonly>
                    <button class="zmsc-btn" @click.prevent="decrementQuarter('home', 'q4')">-</button>
                </div>

                <div>
                    <button class="zmsc-btn" @click.prevent="incrementQuarter('away', 'q4')">+</button>
                    <input type="number" v-model="match.quarterScores.away_q4" readonly>
                    <button class="zmsc-btn" @click.prevent="decrementQuarter('away', 'q4')">-</button>
                </div>
            </div>
        </div>
        <div class="zmsc-score__quarters-single" :class="{ 'active': this.activeQuarter === 'ot1' }">
            <h3 class="active">OT</h3>
            <div class="zmsc-score__quarters-teams">
                <div>
                    <button class="zmsc-btn" @click.prevent="incrementQuarter('home', 'ot1')">+</button>
                    <input type="number" v-model="match.quarterScores.home_ot1" readonly>
                    <button class="zmsc-btn" @click.prevent="decrementQuarter('home', 'ot1')">-</button>
                </div>

                <div>
                    <button class="zmsc-btn" @click.prevent="incrementQuarter('away', 'ot1')">+</button>
                    <input type="number" v-model="match.quarterScores.away_ot1" readonly>
                    <button class="zmsc-btn" @click.prevent="decrementQuarter('away', 'ot1')">-</button>
                </div>
            </div>
        </div>
        <!-- <div class="zmsc-score__quarters-single">
            <h3 class="active">OT2 <a href="" class="zmsc-btn">↩︎</a></h3>
            <div class="zmsc-score__quarters-teams">
                <div><input type="number" v-model="match.quarterScores.home_ot2"></div>

                <div><input type="number" v-model="match.quarterScores.away_ot2"></div>
            </div>
        </div> -->
    </div>
</template>

<script>
export default {
    props: {
        match: { type: Object, required: true },
    },
    data() {
        return {
            activeQuarter: 'q1',
            timeout: null
        }
    },
    methods: {
        incrementQuarter(team, quarter) {
            this.match.quarterScores[team + '_' + quarter]++;
            this.activeQuarter = quarter;
            this.updateTotal()
            clearTimeout(this.timeout);
            this.timeout = setTimeout(() => {
                this.save();
            }, 500);
        },

        decrementQuarter(team, quarter) {
            if (this.match.quarterScores[team + '_' + quarter] > 0) this.match.quarterScores[team + '_' + quarter]--;
            this.activeQuarter = quarter;
            this.updateTotal()
            clearTimeout(this.timeout);
            this.timeout = setTimeout(() => {
                this.save();
            }, 500);
        },

        updateTotal() {
            this.match.homeScore = this.match.quarterScores.home_q1 + this.match.quarterScores.home_q2 + this.match.quarterScores.home_q3 + this.match.quarterScores.home_q4 + this.match.quarterScores.home_ot1;
            this.match.awayScore = this.match.quarterScores.away_q1 + this.match.quarterScores.away_q2 + this.match.quarterScores.away_q3 + this.match.quarterScores.away_q4 + this.match.quarterScores.away_ot1;
        },

        save() {
            this.$emit('update');
        }
    }
}
</script>
