<template>
    <div class="zmsc-score__players">
        <div class="zmsc-score__players-team">
            <h4>{{ match.homeTeam.title }}</h4>
            <ScorePlayer v-for="player in match.homeTeam.players" :key="player.name" :player="player" />
        </div>

        <div class="zmsc-score__players-team">
            <h4>{{ match.awayTeam.title }}</h4>
            <ScorePlayer v-for="player in match.awayTeam.players" :key="player.name" :player="player" />
        </div>
    </div>
</template>

<script>
import ScorePlayer from './ScorePlayer.vue';

export default {
    props: {
        match: { type: Object, required: true },
    },
    components: { ScorePlayer }
}
</script>
