<template>
    <div class="zmsc-score__container" v-if="loaded">
        <h2>
            {{ match.title }}

            <select v-model="match.status" @change="update">
                <option value="upcoming">Na čekanju</option>
                <option value="progress">U toku</option>
                <option value="finished">Završeno</option>
            </select>
        </h2>
        <ScoreTotal    :match="match" @update="update" />
        <ScoreQuarters :match="match" @update="update" />
        <!-- <ScorePlayers  :match="match" @update="updatePlayerStats" /> -->
    </div>

    <div v-else>

    </div>
</template>

<script>
import ScorePlayers from './ScorePlayers.vue';
import ScoreQuarters from './ScoreQuarters.vue';
import ScoreTotal from './ScoreTotal.vue';

export default {
    components: { ScoreTotal, ScoreQuarters, ScorePlayers },
    data() {
        return {
            loaded: false,
            match: {}
        }
    },
    mounted() {
        this.loadInitialData();
    },
    methods: {
        loadInitialData() {
            const matchId = window.Zimsko.current_match_id

            console.log(matchId);

            this.$http.get('live-details/' + matchId).then(response => {
                this.match = response.data;
                this.loaded = true;
            });
        },

        update() {
            let data = {
                homeScore: this.match.homeScore,
                awayScore: this.match.awayScore,
                status: this.match.status,
                quarterScores: this.match.quarterScores,
            }

            this.$http.post('live-details/' + this.match.id, data).then(response => {
                console.log('Match saved');
            });
        },
    }
}
</script>
