@view-transition {
    navigation: auto;
}

@keyframes move-in {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes move-out {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-100%);
    }
}

@keyframes blur-in {
    from {
        filter: blur(20pxpx);
        transform: scale(1.2);
        opacity: 1;
    }

    to {
        filter: blur(0px);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes blur-out {
    from {
        filter: blur(0px);
        transform: scale(1);
        opacity: 1;
    }

    to {
        filter: blur(20px);
        transform: scale(1.2);
        opacity: 0;
    }
}

::view-transition-old(root) {
    animation: 0.8s cubic-bezier(0.87, 0, 0.13, 1) both blur-out;
}

::view-transition-new(root) {
    animation: 0.8s cubic-bezier(0.87, 0, 0.13, 1) both blur-in;
}
