html,
body {
    min-height: 100svh;
}

#app {
    width: 100%;
    max-width: 100%;
}

.dark {
    color-scheme: dark;
}

.grid-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 20px 20px;
}

.btn {
    @apply px-4 py-2 text-xs uppercase rounded-md shadow-md opacity-70 transition-all duration-200;

    &:hover {
        @apply opacity-90;
    }
}

.btn-primary {
    @apply text-white bg-gradient-to-tr to-indigo-500 from-sky-500/80 via-indigo-500/80;

    &:hover {
        @apply opacity-90;
    }
}

.btn-secondary {
    @apply text-white bg-gradient-to-tr to-green-500 from-cyan-500/80 via-emerald-500/80;

    &:hover {
        @apply opacity-90;
    }
}

.btn-error {
    @apply text-white bg-gradient-to-tr to-red-500 from-rose-500/80 via-pink-500/80;

    &:hover {
        @apply opacity-90;
    }
}

.btn-warning {
    @apply text-white bg-gradient-to-tr from-orange-400/80 via-orange-500/80 to-orange-600/80;

    &:hover {
        @apply opacity-90;
    }
}
