@import url(https://fonts.bunny.net/css?family=oswald:200,300,400,500,600,700|roboto:200,300,500,800,900|roboto-condensed:200,300,400,500,600,700,800,900);

/* @import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap); */
@import 'site/_responsive.css';
@import 'site/_live-widget.css';
/* @import 'site/_view-transitions.css' */

@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
    min-height: 100svh;
}

.bg {
    background: conic-gradient(from 180deg at 50% 70%, hsla(0, 0%, 98%, 1) 0deg, #eec32d 72.0000010728836deg, #ec4b4b 144.0000021457672deg, #709ab9 216.00000858306885deg, #4dffbf 288.0000042915344deg, hsla(0, 0%, 98%, 1) 1turn);
    mask: radial-gradient(circle at 50% 50%, white 2px, transparent 2.5px) 50% 50% / 20px 20px, url('https://assets.codepen.io/605876/noise-mask.png') 256px 50% / 256px 256px;
    mask-composite: intersect;
    animation: flicker 20s infinite linear;
}

@keyframes flicker {
    to {
        mask-position: 50% 50%, 0 50%;
    }
}

[x-cloak] {
    display: none !important;
}

.wrapper{
    @apply px-4 mx-auto md:px-8 lg:px-16 max-w-[1800px];
}
