@import url(https://fonts.bunny.net/css?family=Oswald:200,300,400,500,600,700);

/* @import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap); */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    min-height: 100svh;
}

.dark {
    color-scheme: dark;
}

.modals-container {
    z-index: 999999 !important;
}

.vfm {
    z-index: 99997 !important;

    .modal-dialog {
        margin-top: 55px;
        transition: all ease-in-out 0.2s;
    }

    .modal {
        display: block;
        height: 100%;
        left: 0;
        outline: 0;
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999999;

        .body {
            padding: 35px 0;
        }
    }

    .modal-dialog {
        @apply max-w-screen-lg mx-auto;
    }

    .modal-content {
        background-clip: padding-box;
        background-color: #fff;
        border: 1px solid rgba(80, 80, 80, 0.1);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        outline: 0;
        pointer-events: auto;
        position: relative;
        width: 100%;
    }
}

.btn {
    @apply px-4 py-2 text-white bg-blue-500 rounded-md shadow-md transition-colors duration-200
        hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-50;
}

.grid-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 20px 20px;
}

.home-team-top,
.sub-bar-home {
    .score-bar {
        @apply bg-gradient-to-br from-cyan-900/60 via-cyan-800/50 to-cyan-500/60 border-cyan-400/30 shadow-lg shadow-cyan-500/10;
    }
    .team {
        @apply text-cyan-300/80;
    }
    .score {
        @apply text-cyan-400;
    }
    .foul-timeout-btn {
        @apply bg-gradient-to-br from-cyan-900/60 via-cyan-800/50 to-sky-900/90;
    }
    .players-on-court .player-block {
        @apply bg-gradient-to-br border-cyan-400/30 from-cyan-900/60 via-cyan-800/50 to-emerald-700/50 shadow-lg shadow-cyan-500/20;

        &:hover {
            @apply shadow-cyan-500/70;
        }

        .points {
            @apply bg-emerald-500/70;
        }
        .fouls {
            @apply bg-rose-500/70;
        }
    }
}

.away-team-top,
.sub-bar-away {
    .score-bar {
        @apply bg-gradient-to-bl from-fuchsia-900/60 via-fuchsia-800/50 to-sky-900/60 border-fuchsia-400/30 shadow-lg shadow-fuchsia-500/10;
    }
    .team {
        @apply text-fuchsia-300/80;
    }
    .score {
        @apply text-fuchsia-400;
    }
    .foul-timeout-btn {
        @apply bg-gradient-to-bl from-fuchsia-900/60 via-fuchsia-800/50 to-fuchsia-600/50;
    }
    .players-on-court .player-block {
        @apply bg-gradient-to-bl border-fuchsia-400/30 from-fuchsia-900/60 via-fuchsia-800/50 to-emerald-700/50 shadow-lg shadow-fuchsia-500/20;
        &:hover {
            @apply shadow-fuchsia-500/70;
        }

        .points {
            @apply bg-emerald-500/70;
        }
        .fouls {
            @apply bg-rose-500/70;
        }
    }
}

.home-controls {
    .players-on-bench {
        .player-block {
            @apply bg-gradient-to-bl border-cyan-400/10 from-cyan-900/10 via-cyan-800/20 to-emerald-700/20 shadow-lg shadow-cyan-500/10 opacity-60;
            &:hover {
                @apply shadow-cyan-500/70 opacity-90;
            }

            .points {
                @apply bg-emerald-500/70;
            }
            .fouls {
                @apply bg-rose-500/70;
            }
        }
    }

    .score-button {
        @apply bg-gradient-to-br from-cyan-900/30 via-cyan-800/30 to-cyan-500/40 border-cyan-400/30 shadow shadow-cyan-500/10;

        &:hover {
            @apply shadow-cyan-500/70;
        }
    }
}

.away-controls {
    .players-on-bench {
        .player-block {
            @apply bg-gradient-to-bl border-fuchsia-400/10 from-fuchsia-900/10 via-fuchsia-800/20 to-emerald-700/20 shadow-lg shadow-fuchsia-500/20 opacity-60;
            &:hover {
                @apply shadow-fuchsia-500/70 opacity-90;
            }

            .points {
                @apply bg-emerald-500/70;
            }
            .fouls {
                @apply bg-rose-500/70;
            }
        }
    }

    .score-button {
        @apply bg-gradient-to-br from-fuchsia-900/30 via-fuchsia-800/30 to-fuchsia-500/40 border-fuchsia-100/50 shadow shadow-fuchsia-500/10;

        &:hover {
            @apply shadow-fuchsia-500/70;
        }
    }
}

.add-score {
    @apply text-emerald-500;
}

.add-miss,
.add-turnover {
    @apply text-rose-400;
}

.add-foul,
.add-technical {
    @apply text-red-500;
}

.add-block,
.add-steal {
    @apply text-amber-600;
}
.add-rebound,
.add-assist {
    @apply text-amber-500;
}

.add-substitution {
    @apply text-sky-400;
}

.add-timeout {
    @apply text-pink-600;
}

.log-item {
    @apply opacity-60 transition-all duration-300 ease-in-out;

    &:hover {
        @apply opacity-100;
    }
}

.log-item:first-child {
    @apply opacity-100 shadow-xl shadow-emerald-500/20;
}
