.zmsc-score__container {
    background: #009dba;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    overflow: hidden;

    h2 {
        display: grid;
        border-bottom: 1px solid rgba(55,55,55,.3);
        font-size: 26px;
        padding: 30px;
        text-align: center;
        color: rgba(255, 255, 255, 0.9);
        position: relative;
        text-transform: uppercase;
        margin: 0;
        line-height: 125%;

        select, select:focus {
            position: absolute;
            top: 20px;
            right: 10px;
            background: transparent;
            color: rgba(255, 255, 255, 0.7);
            border: none;
            outline: none;
        }
    }
}

@media only screen and (max-width: 950px) {
    #wpbody {
        padding: 10px 0;
    }

    #wpcontent {
        padding: 0 10px 0 0;
    }

    .zmsc-score__container {
        h2 {
            select, select:focus {
                position: relative;
                top: 0;
                right: 0;
                margin: 0 auto;
            }
        }
    }
}
