.zmsc-score__players {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    justify-content: center;
    margin: 30px auto;
}

.zmsc-score__players-team {
    display: grid;
    gap: 10px;

    h4 {
        font-size: 18px;
    }
}

.zmsc-score__players-player {
    margin: 15px 0;

    h5 {
        font-size: 13px;
    }

    .zmsc-score__players-player-stats {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 10px
    }

    .zmsc-score__players-player-stat {
        // display: grid;
        // gap: 10px;
        // grid-template-columns: 1fr auto 1fr;
        // align-items: center;
    }

    .zmsc-score__players-player-stat-name {
        text-align: center;
    }

    .zmsc-score__players-player-stat-values {
        display: grid;
        gap: 4px;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        border: 1px solid #ccc;
        padding: 5px 8px;
        border-radius: 5px;

        input {
            min-width: 50px;
            text-align: center;
        }

        .zmsc-btn {
            padding: 6px;
            font-size: 18px;
        }
    }
}
