.zmsc-score__quarters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    justify-content: center;
    margin: 0;

    input {
        text-align: center;
        color: #787878;
        font-size: 22px;
        margin: 0 !important;
    }

    .zmsc-score__quarters-single {
        padding: 10px 0 0 0;
        background: #f0f0f0;

        &.active {
            background-color: #e6e6e6;
        }

        h3 {
            text-align: center;
            color: #b2b2b2;
            margin: 0;
            padding: 8px 0 8px;
            border-bottom: 1px solid rgba(55,55,55,.1);
        }
    }

    .zmsc-score__quarters-single:nth-child(1), .zmsc-score__quarters-single:nth-child(2) {
        border-bottom: 1px solid rgba(55,55,55,.2);
    }

    .zmsc-score__quarters-single:nth-child(2), .zmsc-score__quarters-single:nth-child(4) {
        border-left: 1px solid rgba(55,55,55,.2);
    }

    .zmsc-score__quarters-single:last-child {
        grid-column: span 2;
        border-top: 1px solid rgba(55,55,55,.2);
        padding: 10px 25% 15px 25%;
    }

    button {
        border: 0;
        outline: 0;
        background: #5da97b;
        color: rgba(255,255,255,.9);
        font-size: 22px;
        font-weight: bold;
        width: 40px;
        height: 40px;
        display: block;
        text-align: center;
        border-radius: 50%;
        opacity: .8;
        text-align: center;
        padding: 0 !important;
        -webkit-appearance: none;
        -moz-appearance: textfield;
        font-family: "Kdam Thmor Pro", monospace !important;
    }

    .zmsc-score__quarters-teams {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0px;
        align-items: center;

        > div {
            display: grid;
            align-items: center;
            gap: 10px;
            grid-template-columns: 40px 1fr 40px;
            padding: 0 20px;
        }

        > div:nth-child(2) {
            border-left: 1px solid rgba(55,55,55,.1);
        }
    }
}

/** Add a media query below for mobile devices, to stack quarters on top of each other */
@media only screen and (max-width: 950px) {
    .zmsc-score__quarters {
        grid-template-columns: 1fr 1fr;

        input {
            font-size: 18px;
            min-width: 60px;
            padding: 10px 2px !important;
        }

        button {
            font-size: 18px;
            width: 30px !important;
            height: 30px !important;
        }

        .zmsc-score__quarters-teams  > div {
            grid-template-columns: 30px 1fr 30px;
            gap: 4px !important;
        }

        .zmsc-score__quarters-single:last-child {
            grid-column: span 2;
            padding: 0;
        }
    }
}

@media only screen and (max-width: 600px) {
    .zmsc-score__quarters {
        display: block;

        input {
            font-size: 16px;
            min-width: 60px;
            padding: 10px 2px !important;
        }

        button {
            font-size: 18px;
            width: 30px !important;
            height: 30px !important;
        }

        .zmsc-score__quarters-teams  > div {
            grid-template-columns: 30px 1fr 30px;
            gap: 4px !important;
        }
    }
}
