.zmsc-score__total {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    background: #5da97b;
    border-bottom: 1px solid rgba(55,55,55,.3);

    h3 {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.7);
        text-align: center;
        margin: 0;
        font-weight: 400;
        text-transform: uppercase;
    }

    span {
        text-align: center;
    }

    input {
        font-size: 48px;
        text-align: center;
        font-family: 'Alfa Slab One', display !important;
        display: block;
        width: 100%;
        margin: 0;
        color: rgba(255, 255, 255, 0.9);
    }

    .zmsc-score__team {
        display: grid;
        align-items: center;
        padding: 30px 10px;
    }

    .zmsc-score__team:last-child {
        border-left: 1px solid rgba(55,55,55,.3);
    }
}
