@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Orbitron:wght@400..900&display=swap');
@import url(https://fonts.bunny.net/css?family=aclonica:400|alfa-slab-one:400|kdam-thmor-pro:400|roboto:100,300,400,500,700,900);

.zmsc-score__container {
    max-width: 1400px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;

    input[type=number] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: none;
        display: block;
        background: transparent;
        border-radius: 5px;
        -webkit-appearance: none;
        -moz-appearance: textfield;
        font-family: "Kdam Thmor Pro", monospace !important;
    }
}

body {
    background: url(../../images/bg_live.jpg) !important;
    background-size: cover !important;
}

#wpadminbar, #adminmenumain {
    display: none !important;
}

#wpcontent {
    margin: 0 auto !important;
    padding: 0 20px;
}

@import 'container';
@import 'total';
@import 'quarters';
@import 'players';
